h1 {
    font-family: "Calibri";
    color: #cc33ff;
}
form {
    background-color: #cc66ff;
    width: 330px;
    color: white;
    padding: 30px;
    font-family: "Calibri";
}

form input, form select {
    margin-bottom: 20px;
}

form label {
    display: block;
}


form input[type="text"], form input[type="email"], form input[type="tel"], form select, form textarea[name="wiadomosc"] {
    width: 300px;
    height: 25px;
    background-color: #cc99ff;
    border-color; #cc99ff;
    border: 4px;
    outline: none;
    color: white;
}

form select {
    color: white;
}


select[name="miasto"] {
    background-color: #cc33ff;
}

input:focus {
    color: white;
}

form input[type="radio"] {
    display: inline;
    margin-bottom: 10px;
}

form input[type="checkbox"], form label[for="agreement"] {
    display: inline;
    font-size: 11px;
}

form input[type="submit"] {
    background-color: #cc33ff;
    border-color: #cc33ff;
    border: 2px;
    outline: none;
    width: 85px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 16px; 
    cursor: progress;
}

form input[type="submit"]:hover {
    color: red;
}