* {
    color: white;
    font-family: 'Verdana';
}

body {
	font-size: 0;
}

.main-header {
    background-image: url(../img/man-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-header h1 {
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
    padding-top: 270px;
    padding-left: 30px;
    margin-top: 0px;
    display: block;

}






.main-header span {
    font-size: 27px;
    padding-top: 20px;
    display: block;
}


@media (min-width: 1171px) {
	.main-header { 
        height: 100%;
        width: 100%;
    }
}



@media (min-width: 992px) and (max-width: 1170px) {
	.main-header { 
        background-image: url(../img/man-2.jpg);
        height: 70%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
    }

    .main-header h1 {
        padding-left: 650px;
        padding-top: 100px;
        font-size: 18px;
        display: block;

    }

    .main-header span {
        font-size: 23px;
        display:block;
    } 

} 


@media (max-width: 992px) {
    .main-header {
        height: 50%;
        width: 100%;

    }
    .main-header h1, span {
        color: black;
        text-align: center;
        padding-top: 50%;
    }

} 