.container {
    font-family: 'Times New Roman' sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    background-color: red;
    flex-basis: 100%;
    padding: 0.5%;
}

#aleft {
    background-color: green;
    flex-basis: 25%;
}

article {
    background-color: #12ACFF;
    flex-basis: 50%;
    padding-bottom: 8%;
    flex-grow: 1;
}

#aright {
    background-color: pink;
    flex-basis: 25%;
}

footer {
    background-color: #9565B2;
    flex-basis: 100%;
    padding: 0.5%;
    order: 3;
}




@media (min-width: 768px) and (max-width: 992px) {
	#aleft {
        flex-basis: 100%;
        order: 1;
        padding-bottom: 25%;
    }
} 


@media (max-width: 767px) {
    .container {
        flex-direction: column;
        flex-basis: 100%;
    }

    #aleft {
        order: 1;
        padding-bottom: 25%;
    }

    #aright {
        order: 2;
        padding-bottom: 25%;
    }
} 